# thank you https://github.com/mailazy/blog/blob/28258657fc9d636eed08b6ff65f953bf450a57e5/content/exposing-tcp-udp-services-ingress/index.md
tcp:
  26257: "cockroachdb/cockroachdb-service:26257"
  6379: "redis/redis-service:6379"
  5432: "postgres/mypostgres:5432"
  5433: "postgres/mypostgres-replica:5432"
  4317: "observability/observability-opentelemetry-collector:4317"
  4318: "observability/observability-opentelemetry-collector:4318"
controller:
  config:
    enable-opentracing: "true"
    jaeger-collector-host: observability-opentelemetry-collector.observability
    enable-brotli: "true"
    brotli-level: 8
