apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: configmap-nginx
    namespace: ingress-nginx
    files:
      - ./ingress/values.yaml
generatorOptions:
  disableNameSuffixHash: true

resources:
  - ../../base
  - ./certs/cloud-cert-issuer.yaml
  # - ./stream/nats/certs.yaml
  # - ./stream/nats/pvc.yaml
